/* style.css */
    div[role="main"]{width:1290px;margin-left:auto;margin-right:auto;}
    .holder {display:inline-block;border:1px solid gold;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
    }

    .holder.big {width:1280px;margin-left:auto;margin-right:auto;
      -webkit-transform: perspective( 1000px );
    }

    .holder.big .broken_square {width:1280px;height:500px;
      -webkit-transition:none;
      -webkit-filter: custom(url(../shaders/detached_tiles.vs) mix(url(../shaders/detached_tiles.fs) normal source-atop), 1 5 border-box detached, amount 6.5, t 1, transform rotateX(0.65deg) rotateZ(1.3deg) rotateY(-28.5deg) scale(0.48500000000000004)) grayscale(0) drop-shadow(black 1px 1px 1px);

    }
    .holder.big:hover .broken_square {

    }

    .holder.big .broken_square img {width:100%;}

  .broken_square {
    background:red;width:640px;height:250px;margin-left:auto;margin-right:auto;margin-top:10%;
    -webkit-transition: -webkit-filter linear 1s;
  }

    .shader {
      -webkit-filter: custom(url(../shaders/detached_tiles.vs) mix(url(../shaders/detached_tiles.fs) normal source-atop), 
      10 10 border-box detached, 
      amount 0.0, 
      t 1.0, 
      transform rotateX(45deg) rotateZ(-40deg) rotateY(10deg) scale(0.60))
      grayscale(1);
    }

    .shader:hover{
  -webkit-filter: custom(url(../shaders/detached_tiles.vs) mix(url(../shaders/detached_tiles.fs) normal source-atop), 10 10 border-box detached, amount 75.0, t 0.0, transform rotateX(0deg) scale(0.9)) grayscale(0);
  -webkit-filter-margin: 40%;
    }


    .anim {
  -webkit-filter: custom(url(../shaders/detached_tiles.vs) mix(url(../shaders/detached_tiles.fs) normal source-atop), 
    5 5 border-box detached, 
    amount 100.0, 
    t 1.0, 
    transform rotateX(45deg) rotateZ(-20deg) scale(0.5))
    grayscale(1) drop-shadow(0px 0px 1px gold);
    -webkit-transition: -webkit-filter linear 1s;
    }


    .anim:hover {
    -webkit-animation-duration: 5s;
    -webkit-animation-name: animatE;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    }

  @-webkit-keyframes animatE {
    from {
    -webkit-filter: custom(url(../shaders/detached_tiles.vs) mix(url(../shaders/detached_tiles.fs) normal source-atop), 
      5 5 border-box detached, 
      amount 100.0, 
      t 1.0, 
      transform rotateX(45deg) rotateZ(-20deg) scale(0.5))
      grayscale(1) drop-shadow(0px 0px 1px gold);
      -webkit-transform:rotate(0deg);
      -webkit-transform:rotateY(0deg);
      -webkit-transform:rotateZ(0deg);
    }
    to {
    -webkit-filter: custom(url(../shaders/detached_tiles.vs) mix(url(../shaders/detached_tiles.fs) normal source-atop), 
      5 5 border-box detached,
      amount 1.0, 
      t 1.0, 
      transform rotateX(35deg) rotateZ(-20deg) scale(0.65))
      grayscale(0) drop-shadow(8px 8px 10px gold);

      -webkit-transform:rotate(30deg);
      -webkit-transform:rotateY(30deg);
      -webkit-transform:rotateZ(20deg);
    }
  }