/* style.css */

/* Documentation
https://dvcs.w3.org/hg/FXTF/raw-file/tip/filters/index.html
http://www.adobe.com/devnet/html5/articles/css-shaders.html
http://adobe.github.com/web-platform/samples/css-customfilters/
http://updates.html5rocks.com/2011/12/CSS-Filter-Effects-Landing-in-WebKit
*/

div[role="main"]{
	width:500px;
	margin-left:auto;
	margin-right:auto;
}

nav {
	float:left;
	margin-right:50px;
}

#filters {
  border:none;
  font-size:20px;
  font-family: 'Poiret One', cursive;
}

.holder {
	display:inline-block;
	float:left;
  /* Gives a bug where the div grows twice its width, without transition whatsoever*/
  /*
  -webkit-transition : -webkit-filter 0.5s ease-in;
  -moz-transition : -moz-filter 0.5s ease-in;
  -ms-transition : -ms-filter 0.5s ease-in;
  -o-transition : -o-filter 0.5s ease-in;
  transition : filter 0.5s ease-in;
  */
}

.holder img {
  background:black;
}

img.shaded_image {	
	width:350px;
	height:473px;
}

/* Below the CSS filters properties */
/*Greyscale*/
.greyscale {
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
}

.greyscale:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
}

/* Blur */
.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}

.blur:hover {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
}

/* Shadow */
.drop_shadow {
    -webkit-filter: drop-shadow(60px 40px 2px rgba(0,21,53,0.8));
    -moz-filter: drop-shadow(60px 40px 2px rgba(0,21,53,0.8));
    -ms-filter: drop-shadow(60px 40px 2px rgba(0,21,53,0.8));
    -o-filter: drop-shadow(60px 40px 2px rgba(0,21,53,0.8));
    filter: drop-shadow(60px 40px 2px rgba(0,21,53,0.8));
}

.drop_shadow:hover {
    -webkit-filter: drop-shadow(0px 0px 0px black);
    -moz-filter: drop-shadow(0px 0px 0px black);
    -ms-filter: drop-shadow(0px 0px 0px black);
    -o-filter: drop-shadow(0px 0px 0px black);
    filter: drop-shadow(0px 0px 0px black);
}

.drop_shadow img {
	background:none;
}

/* Saturate */
.saturate {  
      -webkit-filter: saturate(1000%);  
      -moz-filter: saturate(1000%);  
      -ms-filter: saturate(1000%);  
      -o-filter: saturate(1000%);  
      filter: saturate(1000%);  
}  
.saturate:hover {  
      -webkit-filter: saturate(100%);  
      -moz-filter: saturate(100%);  
      -ms-filter: saturate(100%);  
      -o-filter: saturate(100%);  
      filter: saturate(100%);  
}  

/* Invert */
.invert {  
      -webkit-filter: invert(100%);  
      -moz-filter: invert(100%);  
      -ms-filter: invert(100%);  
      -o-filter: invert(100%);  
      filter: invert(100%);  
}  
.invert:hover {  
      -webkit-filter: invert(0%);  
      -moz-filter: invert(0%);  
      -ms-filter: invert(0%);  
      -o-filter: invert(0%);  
      filter: invert(0%);  
} 

/* Contrast */
.contrast {  
      -webkit-filter: contrast(2000%);  
      -moz-filter: contrast(2000%);  
      -ms-filter: contrast(2000%);  
      -o-filter: contrast(2000%);  
      filter: contrast(2000%);  
}  
.contrast:hover {  
      -webkit-filter: contrast(100%);  
      -moz-filter: contrast(100%);  
      -ms-filter: contrast(100%);  
      -o-filter: contrast(100%);  
      filter: contrast(100%);  
}  

/* Brightness */
.brightness {  
      -webkit-filter: brightness(90%);  
      -moz-filter: brightness(90%);  
      -ms-filter: brightness(90%);  
      -o-filter: brightness(90%);  
      filter: brightness(90%);  
}  
.brightness:hover {  
      -webkit-filter: brightness(0%);  
      -moz-filter: brightness(0%);  
      -ms-filter: brightness(0%);  
      -o-filter: brightness(0%);  
      filter: brightness(0%);  
}  

/* Sepia */
.sepia {  
      -webkit-filter: sepia(100%);  
      -moz-filter: sepia(100%);  
      -ms-filter: sepia(100%);  
      -o-filter: sepia(100%);  
      filter: sepia(100%);  
}  
.sepia:hover {  
      -webkit-filter: sepia(0%);  
      -moz-filter: sepia(0%);  
      -ms-filter: sepia(0%);  
      -o-filter: sepia(0%);  
      filter: sepia(0%);  
}

/* Hue Rotate */
.huerotate {  
   -webkit-filter: hue-rotate(50deg);  
   -moz-filter: hue-rotate(50deg);  
   -ms-filter: hue-rotate(50deg);  
   -o-filter: hue-rotate(50deg);  
   filter: hue-rotate(50deg);  
}  
.huerotate:hover {  
   -webkit-filter: hue-rotate(0deg);  
   -moz-filter: hue-rotate(0deg);  
   -ms-filter: hue-rotate(0deg);  
   -o-filter: hue-rotate(0deg);  
   filter: hue-rotate(0deg);  
}  